<!-- <app-menu></app-menu> -->

<!-- <app-header></app-header> -->
<!-- <div style="padding-bottom: 20%;" class="content-wrapper">
    <section class="content"> -->
<!-- <mat-form-field>
            <mat-label>Marca de coche</mat-label>
            <mat-select [value] = "marcaSeleccionada" (selectionChange)="marcaSeleccionada = $event.value">
              <mat-option *ngFor="let marca of marcas" [value]="marca">
                {{marca}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
<!--    <router-outlet></router-outlet>
    </section>
</div> -->
<!-- <app-coches [marca]="marcaSeleccionada"></app-coches> -->
<!-- <app-footer></app-footer> -->
<app-encabezado></app-encabezado>
<!-- cuerpo -->
<div class="content-wrapper" style="min-height: 358px;">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>